:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.aboutUsBannerWord {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .8);
  position: absolute;
  z-index: 22;
  padding: 6rem 10rem;
}

.mainCakeImagePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainCakeImagePart .img-part {
  width: 100%;
}

.mainCakeImagePart .img-part img {
  width: 100%;
}

.aboutUsBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.aboutUsBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.aboutUsBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.aboutUsBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerWord {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(logoImages/bannerAzzaImage2.png);
  z-index: 5;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.aboutUsInfoStatistics {
  display: flex;
  gap: 2rem;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutUsInfoStatistics .statisticAzza p:first-child {
  font-size: 60px;
  font-weight: 700;
  color: #6F3D23;
  text-align: center;
  line-height: 1;
}

.aboutUsInfoStatistics .statisticAzza p:nth-child(2) {
  font-size: 25px;
  font-weight: 600;
  color: #6F3D23;
  text-align: center;
}

.statisticAzza {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .7rem;
  height: 100%;
}

.imageBoxesPart {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  padding: 0 5rem;
  margin: 4rem 0;
}

.imageBox {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}

.imageBox .left-part,
.imageBox .right-part {
  width: 50%;
}

.imageBox .left-part img {
  width: 100%;
}

.imageBox .right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 1rem
}

.imageBox .right-part h3 {
  font-size: 21px;
  color: var(--brown-color);
  font-weight: 700;
}

.imageBox .right-part p {
  font-size: 17px;
  color: #5d5b5b;
  width: 80%;
}

.imageBox .right-part a {
  color: var(--brown-color);
  font-size: 10px;
  font-weight: 600;
  transition: all .4s;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}


.imageBox .right-part a hr {
  width: 60px;
}

.imageBox .right-part a span {
  margin: 0 10px;
}


.imageBox .right-part a:hover {
  color: #5d5b5b;
}

@media(max-width :768px) {
  .responsiveBox .upperBox .azzaProductType {
    font-size: 21px !important;
    font-weight: 400 !important;
  }

  .responsiveBox .upperBox {
    width: 70%;
  }

  .aboutUsInfoStatistics .statisticAzza p:nth-child(2) {
    font-size: 16px;
    width: 70%;
  }

  .imageBoxesPart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2rem !important;
  }

  .imageBoxesPart .imageBox {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: center;
  }
  .imageBox .left-part{
    height: 275px;
  }

  .imageBox .left-part,
  .imageBox .right-part {
    width: 100%;
  }
  .imageBox .left-part img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .imageBox .right-part p{
    width: 100%;
  }
   .imageBox .right-part .aboutUsLink{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   }
}