:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.groceryBannerWord {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 120px 63px;
  position: absolute;
  z-index: 2;
}

.mainCakeImagePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}


.groceryBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.groceryBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.groceryBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.groceryBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerWord {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(logoImages/bannerAzzaImage2.png);
  z-index: 5;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bannerText {
  color: var(--brown-color);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  width: 65%;
  display: flex;
  text-align: center;
}

.alchoholProductsImageBoxes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.alchoholProductsImageBoxes .alchoholProductsImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 600px;
}

.alchoholProductsImageBoxes .alchoholProductsImageBox .img-box {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.alchoholProductsImageBox .img-box img,
.alchoholProductsImageBox .img-box .whiteBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alchoholProductsImageBox .img-box img:first-child {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alchoholProductsImageBox .img-box img:nth-child(2) {
  z-index: 2;
  width: 330px;
  height: 330px;
}

.whiteBg {
  z-index: 4;
  width: 240px;
  height: 240px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whiteBg span {
  color: var(--brown-color);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.alchoholProductsImageBoxes .alchoholProductsImageBox .descriptionPart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
  line-height: 1.5;
}

.descriptionPart .alchoholName {
  font-size: 21px;
  font-weight: 700 !important;
}

.descriptionPart .alchoholName,
.descriptionPart .alchoholType {
  color: var(--brown-color);
  font-weight: 600;
}

.descriptionPart .alchoholType {
  font-size: 13px;
  font-weight: 700;
}

.descriptionPart .alchoholDescription {
  color: #605c5c;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
  font-size: 17px;
}

.descriptionPart .alchoholDescription span li {
  color: #605c5c;
}

.alchoholCountriesLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.alchoholCountriesLinks span {
  font-size: 17px;
  color: var(--brown-color);
  font-weight: 700;
  border: 1px solid #d7d7d7;
  border-radius: 25px;
  padding: 8px 15px;
  cursor: pointer;
}

.alchoholCountriesLinks span.activeLink {
  color: #F7D427;
  border: 1px solid #F7D427;
}

.alchoholLinks {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.alchoholLinks a {
  transition: all .4s;
  font-weight: 700;
  color: var(--brown-color);
  font-size: 15px;
}

.alchoholLinks a:hover {
  color: #595959;
}

.cakeLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 40px 30px;
  flex-wrap: wrap;
}

.cakeLinks a {
  font-size: 12px;
  color: var(--brown-color);
  font-weight: 700;
  transition: all .4s;
}

.cakeLinks a:hover {
  color: var(--light-yellow);
}

@media (max-width: 1024px) {
  .alchoholProductsImageBoxes .alchoholProductsImageBox {
    gap: 2rem;
    height: auto;
    /* 600px ləğv olundu */
    padding: 3rem 2rem;
  }

  .alchoholProductsImageBoxes .alchoholProductsImageBox .img-box {
    width: 55%;
    height: 420px;
  }

  .alchoholProductsImageBoxes .alchoholProductsImageBox .descriptionPart {
    width: 40%;
  }

  .alchoholProductsImageBox .img-box img:nth-child(2) {
    width: 260px;
    height: 260px;
  }

  .whiteBg {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .alchoholProductsImageBoxes{
    padding: 0 !important;
  }
  .alchoholProductsImageBoxes .alchoholProductsImageBox {
    display: flex;
    flex-direction: column !important;
    height: auto;
    padding: 2.5rem 1.5rem;
    gap: 2.5rem;
  }

  .descriptionPart .alchoholType {
    display: none;
  }

  .alchoholProductsImageBoxes .alchoholProductsImageBox .img-box {
    width: 100%;
    height: 590px;
  }

  .alchoholProductsImageBox .img-box img:first-child {
    width: 100% !important;
    height: 100% !important;
  }

  .alchoholProductsImageBox .img-box img:nth-child(2) {
    display: none;
  }

  .alchoholProductsImageBoxes .alchoholProductsImageBox .descriptionPart {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .alchoholCountriesLinks {
    justify-content: center;
  }

  .whiteBg {
    width: 170px;
    height: 170px;
  }

  .descriptionPart .alchoholDescription {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .alchoholProductsImageBoxes .alchoholProductsImageBox {
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .alchoholProductsImageBoxes .alchoholProductsImageBox .img-box {
    height: 260px;
  }

  .alchoholProductsImageBox .img-box img:nth-child(2) {
    width: 160px;
    height: 160px;
  }

  .whiteBg {
    width: 140px;
    height: 140px;
  }

  .whiteBg span {
    font-size: 14px;
  }

  .alchoholCountriesLinks span {
    font-size: 14px;
    padding: 6px 12px;
  }
}

@media (max-width: 400px) {
  .alchoholProductsImageBoxes .alchoholProductsImageBox {
    padding: 1.5rem 0.8rem;
  }

  .alchoholProductsImageBoxes .alchoholProductsImageBox .img-box {
    height: 220px;
  }

  .alchoholProductsImageBox .img-box img:nth-child(2) {
    width: 130px;
    height: 130px;
  }

  .whiteBg {
    width: 120px;
    height: 120px;
  }

  .descriptionPart .alchoholDescription {
    font-size: 14px;
  }
}