:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
  --input-border: #EB5757;
}

html {
  background: url(logoImages/corporateSalesBg.png) center/cover no-repeat fixed;
}

.background-banner {
  position: absolute;
  background-image: url(logoImages/bannerAzzaImage2.png);
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  opacity: .4;
}

.careersBannerWord {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 120px 63px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}

.careersBannerWord .inputFindJob{
  width: 70%;
  z-index: 10;
  position: relative;
}

.careersBannerWord .inputFindJob span{
  position: absolute;
  top: 0;
  right: 0;
}

.careersBannerWord .inputFindJob i{
  cursor: pointer;
  background-color: var(--light-yellow);
  width: 50px;
  height: 50px;
  border-radius:5px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.careersBannerWord .inputFindJob input{
  border-radius:5px ;
  border: 1px solid #f4f4f6;
  width: 100%;
  height: 50px;
  text-indent: 10px;
  font-size: 14px;
}

.careersBannerWord .inputFindJob input:focus{
 outline: none;
}

.careersBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.careersBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.careersBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.careersBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vacantionPart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #fff;
  padding: 5rem 10rem;
  gap: 2rem;
}

.vacationBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  outline: 2px solid #F6F4F4;
  padding-bottom: 3rem;
}

.vacationBox .workName,
.vacationBox .vacationDescription,
.vacationBox a {
  padding: 0 2rem;
}

.vacationBox .workName{
  display: flex;
  flex-direction: column;
  gap: .4rem;
}


.vacantionPart p {
  color: #5D5D5D;
  font-size: 14px;
}

.vacationBox .location-wage{
  display: flex;
  align-items: center;
  gap: .6rem;
}

.vacationBox .location-wage span{
  color: #5D5D5D;
  font-weight: 700;
}

.vacantionPart a {
  color: var(--brown-color);
  font-size: 12px;
  letter-spacing: 2px;
  transition:  all .4s;
}

.vacantionPart a:hover{
  color: var(--border-yellow);
}


.vacantionPart p.location {
  font-size: 20px;
}

.vacantionPart h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--brown-color);
}

.vacationBox .img-part {
  display: flex;
  width: 100%;
  height: 100%;
}


.vacationBox img {
  width: 100%;
  height: 100%;
}