:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
  --input-border: #EB5757;
}

html {
  background: url(logoImages/certificatesbg.webp) center/cover no-repeat fixed;
}

.certificatesBannerWord {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .5);
  padding: 100px 63px;
}

section#main {
  margin: 120px 0 80px 0;
}

.certificatesBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.certificatesBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.certificatesBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.certificatesBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificatesImagePart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: 2rem;
  padding: 5rem 6rem;
  background-color: #fff;
}

.certificateBox,
.certificateBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.certificateBox .certificateP p,
.certificateBox .certificateP p {
  color: var(--brown-color);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.img-part,
.certificateP {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-part img {
  width: 50%;
  transition: all .4s;
  cursor: pointer;
}

.img-part img:hover {
  transform: scale(1.1);
}

@media(max-width:768px) {
  .certificatesBannerWord {
    width: 100%;
    background-color: var(--navbar-background);
  }

  .certificatesBannerWord p {
    font-size: 26px;
  }

  .certificatesImagePart {
    display: flex;
    flex-direction: column;
    gap: 2rem !important;
  }

  .certificatesImagePart .certificateBox,
  .certificatesImagePart .certificateBox {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
 
  .certificatesImagePart .certificateP {
    font-size: 21px;
    width: 100% !important;
    text-align: center;
  }

  .certificatesImagePart .img-part {
    width: 100%;
  }

  .certificatesImagePart .img-part img {
    width: 60%;
  }

  section#main {
    margin: 0;
    padding: 0;
  }
}

@media(max-width : 480px) {
  .certificatesImagePart .img-part {
    width: 100%;
  }

  .certificatesImagePart .img-part img {
    width: 100%;
  }
}