:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.groceryBannerWord {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 120px 63px;
  position: absolute;
  z-index: 2;
}

.mainCakeImagePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}


.groceryBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.groceryBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.groceryBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.groceryBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerWord {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(logoImages/bannerAzzaImage2.png);
  z-index: 5;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bannerText {
  color: var(--brown-color);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  width: 70%;
  display: flex;
  text-align: center;
}

.drinkImageBoxes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.drinkImageBoxes .drinkImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.drinkImageBoxes .drinkImageBox .descriptionPart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.descriptionPart .groceryName {
  font-size: 21px;
  font-weight: 700 !important;
}

.descriptionPart .groceryName,
.descriptionPart .groceryType {
  color: var(--brown-color);
  font-weight: 600;
}

.descriptionPart .groceryDescription {
  color: #605c5c;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drinkImageBoxes .drinkImageBox .img-box {
  display: flex;
  position: relative;
  width: 800px;
  height: 800px;
  align-items: center;
  justify-content: center;

}

.drinkImageBox .img-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drinkImageBox .img-box img:first-child {
  z-index: 3;
}

.drinkImageBox .img-box img:nth-child(2) {
  z-index:1;
  width: 100%;
}

.drinkImageBox .img-box img:nth-child(3) {
  z-index: 4;
  width: 150px;
  height: 120px;
}

.drinkImageBox .img-box img:nth-child(4) {
  z-index: 2;
  width: 50%;
}

.cakeLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 40px 30px;
  flex-wrap: wrap;
}
.cakeLinks a{
  font-size: 12px;
  color: var(--brown-color);
  font-weight: 700;
  transition: all .4s;
}

.cakeLinks a:hover{
color: var(--light-yellow);
}