:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.hamburgerSidebar {
  transform: translateX(-320px);
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: var(--navbar-background);
  transition: all .4s;
  overflow: hidden;
}

.hamburgerSidebar.opening {
  transform: translateX(0);
  transition: all .4s;
}

.hamburgerSidebar.closing {
  transform: translateX(-320px);
  transition: all .4s;
}

.hamburgerBox {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px 40px;
}

.hamburgerBox .upper-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.hamburgerBox .upper-part i {
  cursor: pointer;
  color: var(--brown-color);
  font-size: 30px;
}

.hamburgerBox .sections-part {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  -webkit-overflow-scrolling: touch;
}

.hamburgerBox .sections-part::-webkit-scrollbar {
  display: none;
}

.sections-part .underproducts {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.sections-part .underproducts.open {
  display: flex;
}


.hamburgerBox .sections-part a {
  color: var(--brown-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}


.hamburgerSidebar .icon-path {
  fill: var(--brown-color) !important;
}

.hamburgerSidebar svg:hover .icon-path {
  fill: var(--light-yellow) !important;
}

/* <div class="responsiveBox">
        <div class="upperBox">
          <h3 class="product-title">PRODUCTS</h3>
          <div class="circle-line">
            <div class="line"></div>
            <div class="circle"></div>
            <div class="line"></div>
          </div>
          <h2 class="azzaProductType">CAKES</h2>
          <div class="circle-line">
            <div class="line"></div>
            <div class="circle"></div>
            <div class="line"></div>
          </div>
        </div>
        <div class="imgContent">
          <img src="${existingContentImg.src}">
        </div>
      </div> */

/* JavaScript responsive Css codes  */

.responsiveViewContent {
  width: 100%;
}

.responsiveBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  background-color: var(--navbar-background);
  text-align: center;
}

.responsiveBox .upperBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  z-index: 2;
  width: 100% !important;
}

.responsiveBox .backgroundBanner {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.responsiveBox .backgroundBanner img {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.responsiveBox .circle-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.responsiveBox .circle-line .circle {
  width: 8px;
  height: 8px;
  background-color: var(--brown-color);
  border-radius: 50%;
  padding: 0 !important;
  margin: 0 10px;

}

.responsiveBox .circle-line .line {
  border: 0.5px solid var(--brown-color);
  border-radius: 10px;
  width: 60px;
}

.responsiveBox .imgContent {
  width: 100%;
}

.responsiveBox .imgContent img {
  width: 100%;
}

.responsiveBox .upperBox .product-title {
  font-size: 23px;
  color: var(--brown-color);
  font-weight: 700 !important;
}

.responsiveBox .upperBox .azzaProductType,.responsiveBox .upperBox .azzaProductType {
  font-size: 21px;
  color: var(--brown-color);
  padding: 0 2rem;
}

.responsiveBox .descriptionP{
  width: 100% !important;
  margin-top: 30px;
  font-size: 21px;
  color: var(--brown-color);
  padding: 0 2rem !important;
}

/* New Responsive navbar */
.newResponsiveNavbarPart .hamburgerIcon i {
  background-color: #F6D119;
}

/* Responsive codes */
@media (max-width: 1024px) {
  .mainContentPart {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
    gap: 1.5rem;
  }

  .mainContentPart .productBox .img-part {
    width: 100%;
    height: 260px;
  }
}

@media (max-width: 768px) {
  section#main{
    gap: 0 !important;
  }
  .responsiveBox .upperBox{
    padding: 2rem 0;
  }
  .hamburgerSidebar {
    width: 100% !important;
    max-width: 100vw;
    transform: translateX(-1000px);
  }

  .hamburgerSidebar.active {
    transform: translateX(0) !important;
  }

  .hamburgerBox {
    width: 100% !important;
    padding: 20px !important;
  }

  .hamburgerSidebar.closing {
    transform: translateX(-1000px);
    transition: all .8s;
  }

  .hamburgerBox .upper-part {
    width: 40%;
    display: flex;
    flex-direction: row;
  }

  .bannerText {
    width: 78% !important;
  }

  .mainContentPart {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }

  .mainContentPart .productBox .img-part {
    height: 240px;
  }

  .cakeLinks {
    flex-direction: column;
    gap: .3rem;
  }

  .hamburgerBox .upper-part {
    display: flex !important;
  }
  .responsiveBox .descriptionP{
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .mainContentPart {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    gap: 1.2rem;
  }

  .mainContentPart .productBox .img-part {
    height: 220px;
  }
  .navbar-part .navbar-right .phone-number span{
    display: none;
  }
  .responsiveBox .descriptionP{
    width: 100% !important;
  }
}

