:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

html {
  scroll-behavior: smooth;
}

a.phone-number {
  margin-right: 6px;
}

.hamburgerSidebar {
  transform: translateX(-320px);
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: var(--navbar-background);
  transition: all .4s;
  overflow: hidden;
}

.hamburgerSidebar.opening {
  transform: translateX(0);
  transition: all .4s;
}

.hamburgerSidebar.closing {
  transform: translateX(-320px);
  transition: all .4s;
}

.hamburgerBox {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px 40px;
}

.hamburgerBox .upper-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.hamburgerBox .upper-part i {
  cursor: pointer;
  color: var(--brown-color);
  font-size: 30px;
}

.hamburgerBox .sections-part {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  -webkit-overflow-scrolling: touch;
}

.hamburgerBox .sections-part::-webkit-scrollbar {
  display: none;
}

.sections-part .underproducts {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.sections-part .underproducts.open {
  display: flex;
}


.hamburgerBox .sections-part a {
  color: var(--brown-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}


.hamburgerSidebar .icon-path {
  fill: var(--brown-color) !important;
}

.hamburgerSidebar svg:hover .icon-path {
  fill: var(--light-yellow) !important;
}

/* <div class="responsiveBox">
        <div class="upperBox">
          <h3 class="product-title">PRODUCTS</h3>
          <div class="circle-line">
            <div class="line"></div>
            <div class="circle"></div>
            <div class="line"></div>
          </div>
          <h2 class="azzaProductType">CAKES</h2>
          <div class="circle-line">
            <div class="line"></div>
            <div class="circle"></div>
            <div class="line"></div>
          </div>
        </div>
        <div class="imgContent">
          <img src="${existingContentImg.src}">
        </div>
      </div> */
.bannerPart {
  width: 100% !important;
}


/* JavaScript responsive Css codes  */

.responsiveViewContent {
  width: 100%;
}

.responsiveBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  background-color: var(--navbar-background);
  text-align: center;
}

.responsiveBox .upperBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  z-index: 2;
  width: 100% !important;
}

.responsiveBox .backgroundBanner {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.responsiveBox .backgroundBanner img {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.responsiveBox .circle-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.responsiveBox .circle-line .circle {
  width: 8px;
  height: 8px;
  background-color: var(--brown-color);
  border-radius: 50%;
  padding: 0 !important;
  margin: 0 10px;

}

.responsiveBox .circle-line .line {
  border: 0.5px solid var(--brown-color);
  border-radius: 10px;
  width: 60px;
}

.responsiveBox .imgContent {
  width: 100%;
}

.responsiveBox .imgContent img {
  width: 100%;
}

.responsiveBox .upperBox .product-title {
  font-size: 23px;
  color: var(--brown-color);
  font-weight: 700 !important;
}

.responsiveBox .upperBox .azzaProductType,
.responsiveBox .upperBox .azzaProductType {
  font-size: 21px;
  color: var(--brown-color);
  padding: 0 2rem;
}

.responsiveBox .descriptionP {
  width: 100% !important;
  margin-top: 30px;
  font-size: 21px;
  color: var(--brown-color);
  padding: 0 2rem !important;
}

.importedGroceryBox:nth-of-type(even) {
  flex-direction: row-reverse !important;

}

/* New Responsive navbar */
.newResponsiveNavbarPart .hamburgerIcon i {
  background-color: #F6D119;
}

.mainContentPart .productBox .img-part {
  height: 310px !important;
}

.mainContentPart .productBox .img-part img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.productDetailInfo .size-value {
  font-size: 14px !important;
}

/* Responsive codes */
@media (max-width: 1024px) {
  .mainContentPart {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
    gap: 1.5rem;
  }

  .mainContentPart .productBox .img-part {
    width: 100%;
    height: 260px;
  }
}

@media (max-width: 768px) {
  section#main {
    gap: 0 !important;
  }

  .responsiveBox .upperBox {
    padding: 2rem 0;
  }

  .hamburgerSidebar {
    width: 100% !important;
    max-width: 100vw;
    transform: translateX(-1000px);
  }

  .hamburgerSidebar.active {
    transform: translateX(0) !important;
  }

  .hamburgerBox {
    width: 100% !important;
    padding: 20px !important;
  }

  .hamburgerSidebar.closing {
    transform: translateX(-1000px);
    transition: all .8s;
  }

  .hamburgerBox .upper-part {
    width: 40%;
    display: flex;
    flex-direction: row;
  }

  .bannerText {
    width: 78% !important;
  }

  .mainContentPart {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 .7rem !important;
    gap: .7rem !important;
  }

  .mainContentPart .productBox .img-part {
    height: 260px;
  }

  .mainContentPart .productBox .img-part img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }

  .cakeLinks {
    flex-direction: column;
    gap: .3rem;
  }

  .hamburgerBox .upper-part {
    display: flex !important;
  }

  .responsiveBox .descriptionP {
    width: 100% !important;
    font-weight: 400 !important;
  }

  .responsiveBox .upperBox .product-title {
    font-size: 21px;
    font-weight: 700 !important;
  }

  .responsiveBox .upperBox .azzaProductType {
    font-weight: 700 !important;
    font-size: 26px;
  }

  .importedGroceryBox {
    text-align: center;
    padding: 2rem 1rem;
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 480px) {
  .productDetailInfo .size-value {
    font-size: 14px !important;
  }

  .navbar-part .navbar-left span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-part .fa-bars {
    background-color: var(--light-yellow);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a.phone-number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainContentPart {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 .9rem;
    gap: .7rem;
  }

  .mainContentPart .productBox .img-part {
    height: 250px !important;
  }

  .navbar-part .navbar-right .phone-number span {
    display: none;
  }

  .responsiveBox .descriptionP {
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  .navbar-part {
    gap: 1rem !important;
  }

  .navbar-part .navbar-left {
    gap: 1rem;
  }

  .mainContentPart {
    width: 100% !important;
    grid-template-columns: 1fr;
    padding: 0 1rem !important;
    gap: 0.5rem !important;
  }

  .mainContentPart .productBox .img-part {
    height: 240px !important;
  }

  .mainContentPart .productBox .img-part img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }

  .cakeLinks {
    flex-direction: column !important;
    gap: 0.2rem !important;
  }

  .responsiveBox {
    width: 100% !important;
    box-sizing: border-box;
  }

  .responsiveBox .upperBox {
    width: 100% !important;
    gap: 1rem !important;
    padding: 1rem 0 !important;
  }



  .responsiveBox .descriptionP {
    width: 100% !important;
    font-size: 18px !important;
    text-align: center;
  }

  .responsiveBox .responsiveInput {
    width: 100% !important;
    flex-direction: column !important;
    gap: 5px !important;
  }

  .responsiveBox .responsiveInput input {
    width: 100% !important;
    max-width: 100% !important;
    font-size: 16px !important;
  }

  .responsiveBox .responsiveInput span {
    align-self: center !important;
  }

  .bannerText {
    width: 90% !important;
  }

  .navbar-part .navbar-right .phone-number span {
    display: none !important;
  }

  .hamburgerSidebar,
  .hamburgerBox {
    width: 100% !important;
    max-width: 100vw !important;
  }

  .responsiveBox .imgContent img {
    width: 100% !important;
    height: auto !important;
  }
}