.hamburgerSidebar {
  transform: translateX(-320px);
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: var(--navbar-background);
  transition: all .4s;
  overflow: hidden;
}

.hamburgerSidebar.opening {
  transform: translateX(0);
  transition: all .4s;
}

.hamburgerSidebar.closing {
  transform: translateX(-320px);
  transition: all .4s;
}

.hamburgerBox {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px 40px;
}

.hamburgerBox .upper-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.hamburgerBox .upper-part i {
  cursor: pointer;
  color: var(--brown-color);
  font-size: 30px;
}

.hamburgerBox .sections-part {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  -webkit-overflow-scrolling: touch;
}

.hamburgerBox .sections-part::-webkit-scrollbar {
  display: none;
}

.sections-part .underproducts {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.sections-part .underproducts.open {
  display: flex;
}


.hamburgerBox .sections-part a {
  color: var(--brown-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}


.hamburgerSidebar .icon-path {
  fill: var(--brown-color) !important;
}

.hamburgerSidebar svg:hover .icon-path {
  fill: var(--light-yellow) !important;
}

@media(max-width:800px) {
  .hamburgerSidebar {
    width: 100% !important;
    max-width: 100vw;
    transform: translateX(-1000px);
  }

  .hamburgerSidebar.active {
    transform: translateX(0) !important;
  }

  .hamburgerBox {
    width: 100% !important;
    padding: 20px !important;
  }

  .hamburgerSidebar.closing {
    transform: translateX(-1000px);
    transition: all .8s;
  }

  .hamburgerBox .upper-part {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Responsive codes */
@media (max-width: 1024px) {
  .cakesImgBoxes {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
    gap: 1.5rem;
  }

  .cakesImgBoxes .cakeImgBox .img-part {
    width: 100%;
    height: 260px;
  }
}

@media (max-width: 768px) {
  .bannerText {
    width: 78% !important;
  }

  .mainContentPart {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }

  .mainContentPart .productBox .img-part {
    height: 240px;
  }

  .cakeLinks {
    flex-direction: column;
    gap: .3rem;
  }
}

@media (max-width: 480px) {
  .mainContentPart {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 1.2rem;
  }

  .mainContentPart .productBox .img-part {
    height: 220px;
  }
}