:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
  background: url(fermAzzaWebPage/logoImagescopy/fermAzzaBanner.png) center/cover no-repeat fixed;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;

}

.container {
  width: 100%;
  height: 100%;
}

.navbar-part .icon-path{
  fill: var(--brown-color) !important;
}

.navbar-part svg:hover .icon-path{
  fill: var(--light-yellow) !important;

}

.navbar-part {
  padding: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--navbar-background);
  z-index: 5;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}

.navbar-left .language-selection span {
  cursor: pointer;
  padding: 4px;
  align-items: center;
  display: flex;
  font-weight: 400;
  transition: all .4s;
  color: #000;
  font-size: 15px;
}

.fa-solid.fa-bars {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  color: var(--brown-color);
}

.navbar-left .language-selection span:hover {
  background-color: var(--light-yellow);
  outline: none;
}


.navbar-right .phone-number {
  background-color: var(--brown-color);
  padding: 6px 8px;
}

.navbar-right .phone-number i,
.navbar-right .phone-number span {
  color: #fff;
}

.navbar-left {
  gap: 2rem;
}

.contact-icons span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

section#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 6rem;
  gap: 5rem;
}

.contact-icons span a {
  text-decoration: none;
}

.contact-icons span i {
  color: #fff;
  background-color: var(--brown-color);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
}

.video-banner {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
}

.fermAzzaLogoPart {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-100px);
  width: 100%;
}

.fermAzzaLogoBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.fermAzzaLogoBox p {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: var(--brown-color);
}


.linesymbolyellow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 40px 0;
}

.linesymbolyellow hr {
  width: 560px;
  border-bottom: 6px solid var(--yellow-color);
  height: 1px;
}

.linesymbolyellow .circle {
  display: flex;
  align-items: center;
  background-color: var(--yellow-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;

}

.ytVideoLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  background: transparent;
}


.ytVideoBox {
  width: 100%;
  background: transparent;
}

.ytVideoBox .img-box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ytVideoBox .img-box img {
  display: block;
  width: 100%;
  height: auto;
  transition: all .4s;
}

.ytVideoBox .img-box img:hover {
  transform: scale(1.2);
}


.ytVideoBox .img-box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: black;
  background-color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.ourProductBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.ourProductBox h3 {
  font-size: 48px;
  color: var(--brown-color);
}

.circleMilkBoxes {
  display: flex;
  width: 100%;
  height: 100%;
  gap: .7rem;
}

.circleMilkBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.circleMilkBox img {
  width: 80%;
  border-radius: 50%;
  border: 5px solid #9C8F89;
}

.circleMilkBox h2 {
  color: var(--brown-color);
  font-size: 22px;
  font-weight: 700;
}

/*  <div class="workersPart">
        <div class="workersContentBox1">
          <div class="outerBox">
            <div class="innerBox">
              <img src="ourproductFermAzza/worker1.jpg">
            </div>
          </div>
          <p>FEEL THE TASTE OF NATURE!</p>
        </div>
        <div class="workersContentBox2">
          <div class="outerBox">
            <div class="innerBox">
              <img src="ourproductFermAzza/worker2.jpg">
            </div>
          </div>
          <p>PRODUCT FROM ENVIRONMENTALLY CLEAN AREA</p>

        </div>
        <div class="workersContentBox3">
          <div class="outerBox">
            <div class="innerBox">
              <img src="ourproductFermAzza/worker3.jpg">
            </div>
          </div>
          <p>100% NATURAL AND PURE DAIRY PRODUCTS!</p>
        </div>
      </div> */
.workersPart {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.workerBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  overflow: hidden;
}

.outerBox {
  width: 50%;
  height: 50%;
  border: 13px solid var(--border-yellow);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 30px;
}

.innerBox {
  width: 100%;
  border-radius: 30px;
}

.workerBox img {
  border: 8px solid var(--border-yellow);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
}

.workerBox p {
  font-size: 30px;
  font-weight: 700;
  color: var(--brown-color);
  white-space: wrap;
  text-align: center;
  width: 60%;
}

.workersContentBox2,
.workersContentBox3 {
  transform: translateY(0px);
}

.linesymbolblack {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linesymbolblack hr {
  width: 560px;
  border: none;
  border-bottom: 1px solid black;
}

.linesymbolblack .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  margin: 0 30px;
}

.holsteinFritzAbout {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.holsteinFritzAbout p:nth-of-type(1) {
  color: var(--brown-color);
  font-weight: 700;
  font-size: 31px;
}

.fermAzzaQualityExpression{
  padding: 82px 40px;
  width: 90%;
  height: auto;
   background-color: rgba(235, 235, 235, .55);
}

.fermAzzaQualityExpression p{
  justify-content: center;
  display: flex;
color: var(--brown-color);
font-size: 28px;
font-weight: 700;
}

.holsteinFritzAbout p:nth-of-type(2) {
  color: #4F4F4F;
  font-weight: 700;
  font-size: 31px;
  display: flex;
  text-align: center;
}

section#footer {
  padding: 50px 100px 0px 100px;
  margin-top: 40px;
  background: url(logoImages/footerBannerAzzaImage.png);
  background-color: #4B2613;

}

section#footer .upper-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section#footer .upper-part span {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}

.footer-part {
  display: flex;
  gap: 12rem;
  padding: 40px 0;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rightFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  position: relative;
  top: 0px;
  right: 0px;
}

.rightFooter span {
  font-size: 25px;
  color: #F6D119;
  font-weight: 600;
}

.rightFooter img {
  width: 10%;
}

.down-part {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.down-part .down {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.down-part h3,
.down-part p {
  color: #fff;
  font-size: 15px;
}

.down-part a {
  text-decoration: underline !important;
  color: #fff;
}

.copyright-part {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 20px 0;
}

.copyright-part span {
  font-size: 13px;
}