:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.bannerText{
  margin-top: 30px;
}
section#footer {
  padding: 100px 50px 52px 30px;
  background: url(logoImages/footerBannerAzzaImage.png);
  background-color: #4B2613;

}

section#footer .upper-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section#footer .upper-part span {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}

.footer-part {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rightFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  position: relative;
  top: 0px;
  right: 0px;
}

.rightFooter span {
  font-size: 25px;
  color: #F6D119;
  font-weight: 600;
}

.rightFooter img {
  width: 10%;
}

.down-part {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.down-part .down {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.down-part h3,
.down-part p {
  color: #fff;
  font-size: 15px;
}

.down-part a {
  text-decoration: underline !important;
  color: #fff;
}

.copyright-part {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 20px 0;
}

.copyright-part span {
  font-size: 13px;
}
@media (max-width: 768px) {
  section#footer {
    padding: 50px 20px 30px 20px;
  }

  .footer-part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
  }

  .down-part {
    flex-direction: column;
    gap: 3rem;
  }

  .down-part .down {
    width: 100%;
  }
    section#footer .down-part{
      display: flex;
      align-items: center;
      justify-content: center;
    }
     section#footer .down-part .down{
      text-align: center;
      width: 50%;
     }
}