:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.groceryBannerWord {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 120px 63px;
  position: absolute;
  z-index: 2;
}

.mainCakeImagePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}


.groceryBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.groceryBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.groceryBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.groceryBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerWord {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(logoImages/bannerAzzaImage2.png);
  z-index: 5;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bannerText {
  color: var(--brown-color);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  width: 70%;
  display: flex;
  text-align: center;
}

section#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem !important;

}

section#main .groceryImagesBoxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0 4rem !important;
}

section#main .groceryImagesBoxes .groceryImageBox {
  display: flex;
  gap: 1rem;
  width: 100%;
}

section#main .groceryImagesBoxes .groceryImageBox .left-part .descriptionPart{
  width: 10%;
}

section#main .groceryImagesBoxes .groceryImageBox .right-part {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.leftPart .img-part {
  position: relative;
  width: 100%;
}

.leftPart .img-part img:first-child {
  position: relative;
  z-index: 1;
  width: 100%;
}

.leftPart .img-part img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 3;
}

.leftPart .img-part img:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}