:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.groceryBannerWord {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 120px 63px;
  position: absolute;
  z-index: 2;
}

.mainCakeImagePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}


.groceryBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.groceryBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.groceryBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.groceryBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerWord {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(logoImages/bannerAzzaImage2.png);
  z-index: 5;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bannerText {
  color: var(--brown-color);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  width: 70%;
  display: flex;
  text-align: center;
}

.groceryImageBoxes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.groceryImageBoxes .groceryImageBox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.groceryImageBoxes .groceryImageBox .descriptionPart{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.descriptionPart .groceryName{
  font-size: 21px;
  font-weight: 700 !important;
}

.descriptionPart .groceryName,.descriptionPart .groceryType{
  color: var(--brown-color);
  font-weight: 600;
}

.descriptionPart .groceryDescription{
  color: #605c5c;
}

.groceryImageBoxes .groceryImageBox .img-box {
  display: flex;
  position: relative;
  width: 800px;
  height: 800px;
  align-items: center;
  justify-content: center;
  
}

.groceryImageBox .img-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.groceryImageBox .img-box img:first-child {
  z-index: 2;
}

.groceryImageBox .img-box img:nth-child(2) {
  z-index: 1;
  width: 100%;
}

.groceryImageBox .img-box img:nth-child(3) {
  z-index: 3;
  width:120px;
  height: 120px;
}