:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hamburgerSidebar .icon-path {
  fill: var(--brown-color) !important;
}

.hamburgerSidebar svg:hover .icon-path {
  fill: var(--light-yellow) !important;

}

.interier-view .navbar-left a {
  display: none;
}

.hamburgerSidebar {
  transform: translateX(-300px);
  position: fixed;
  max-width: 320px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: var(--navbar-background);
  transition: all .4s;
}

.hamburgerSidebar.opening {
  transform: translateX(0);
  transition: all .4s;
}

.hamburgerSidebar.closing {
  transform: translateX(-300px);
  transition: all .4s;
}

.hamburgerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px 40px;

}

.hamburgerBox .upper-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.hamburgerBox .upper-part i {
  cursor: pointer;
  color: var(--brown-color);
  font-size: 30px;
}

.hamburgerBox .sections-part {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hamburgerBox .sections-part a {
  color: var(--brown-color);
  font-weight: 700;
  font-size: 16px;
}

.navbar-box {
  padding: 1rem;
  z-index: 30;
}

.navbar-box.fixed {
  background-color: var(--navbar-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.navbar-part {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}

.navbar-left .language-selection {
  display: flex;
  gap: .7rem;
}

.navbar-left .language-selection .optional-lang {
  display: none;
}


.navbar-left .language-selection .optional-lang.white {
  color: #fff;
  border: none;
}

.navbar-left .language-selection .optional-lang.brown {
  color: var(--brown-color);
  border: none;
}

.navbar-left .language-selection .optional-lang.active {
  display: block;
}



.scroll~.optional-lang {
  display: flex;
}

.navbar-left .language-selection span {
  cursor: pointer;
  outline: 1px solid #fff;
  padding: 4px;
  align-items: center;
  display: flex;
  font-weight: 400;
  transition: all .4s;
  color: #fff;
  font-size: 15px;
}

.navbar-left .language-selection span:hover {
  background-color: var(--light-yellow);
  color: #000;
  outline: none;
}

.navbar-left .language-selection span.scroll {
  transition: all .4s;
  color: var(--brown-color);
}

.navbar-left .language-selection span.scroll:hover {
  background-color: var(--light-yellow);
  color: #000;
}

.interier-view {
  background: url(logoImages/home-scaled.jpg) center/cover no-repeat;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
}

.interier-layer {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, rgb(102, 0, 0, 0.3) 0%, rgba(153, 52, 0, 0) 100%);
  z-index: 1;
}

.navbar-box,
.center-interier-azza,
.map-crossing {
  position: relative;
  z-index: 2;
}

span i:not(.fa-circle) {
  cursor: pointer;
}

.fa-solid.fa-bars {
  color: #fff;
  font-size: 25px;
}

.navbar-right .phone-number {
  background-color: #fff;
  padding: 6px 8px;
}

.navbar-right .phone-number i {
  color: var(--link-icons);
}

.navbar-right .phone-number.bigger400 {
  background-color: var(--brown-color);
  padding: 6px 8px;
}

.navbar-right .phone-number span.bigger400 {
  color: #fff;
}

.navbar-right .phone-number i.bigger400 {
  color: #fff;
}

.contact-icons span a.bigger400 {
  color: #fff !important;
  background-color: var(--brown-color);
}


.navbar-left {
  gap: 2rem;
}

.contact-icons span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-icons span a {
  text-decoration: none;
  color: var(--link-icons);
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
}

.contact-icons span a.bigger400 {
  background-color: var(--brown-color);
  color: #fff;
}

.center-interier-azza {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

.center-part {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateY(-40px);
  align-items: center;
  justify-content: space-between;
}

.center-part img {
  width: 10%;
}

.center-part p {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  width: 28%;
}

.dash-circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.dash-circle-icon .line {
  border-bottom: 3px solid #fff;
  width: 60px;
  background-color: #fff;
}

.dash-circle-icon .circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 8px;
}

span .fa-arrow-down {
  width: 30px;
  height: 30px;
  background-color: var(--light-yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-crossing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-circle {
  color: red;
}

section#map {
  width: 100%;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.searchAzzaStoresBox {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #F6F4F4;
  padding: 50px 80px;
  border-radius: 2px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.searchAzzaStoresBox h3 {
  color: var(--brown-color);
  font-size: 20px;
}

.searchAzzaStoresBox .inputPart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}


.searchAzzaStoresBox .inputPart .locationSelect {
  position: absolute;
  right: 0;
  display: flex;
  gap: .8rem;
}

.searchAzzaStoresBox .inputPart .locationSelect i {
  font-size: 20px;
  color: var(--brown-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchAzzaStoresBox .inputPart .locationSelect button {
  background-color: #F9DF5E;
  border: none;
  padding: 6px;
  border-radius: 4px;
  color: #4C4C4C;
  font-weight: 600;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.searchAzzaStoresBox .districtsOfBaku {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.searchAzzaStoresBox .districtsOfBaku .districtsLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.searchAzzaStoresBox .citiesLinks {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.searchAzzaStoresBox .citiesLinks div {
  display: flex;
  gap: 1rem;
}

.searchAzzaStoresBox .districtsOfBaku a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brown-color);
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 22px;
}

.searchAzzaStoresBox .districtsOfBaku h2 {
  color: var(--brown-color);
  font-size: 15px;
  text-align: center;
}

.searchAzzaStoresBox .inputPart input {
  height: 50px;
  width: 100%;
  text-indent: 15px;
  border: 1px solid #bdbcbc;
  border-radius: 5px;
  padding: 6px 0;
}

.searchAzzaStoresBox .inputPart input::placeholder {
  font-size: 16px;

}

.searchAzzaStoresBox .inputPart input:focus {
  outline: none;
}

section * {
  font-family: "Montserrat", sans-serif;
}

section#products-box {
  padding: 20px 30px;
  margin-top: 40px;
}

.three-items-boxs {
  display: flex;
  justify-content: center;
  background-color: #F6F4F4;
}

.product-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  transition: all .4s;
  gap: 2rem;
  padding: 20px 0;
  overflow: hidden;
}

.product-box:hover {
  background-color: #F4EAB9;
}

.product-box span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-box p {
  font-weight: 600;
  color: #624231;
  margin-top: 20px;
}

.product-box .mainImg {
  width: 40%;
  height: 80%;
}

.product-box h3 {
  color: #4B2613;
}

.product-box a {
  color: #4B2613;
  font-weight: 600;
  transition: all .4s;
}

.product-box a:hover {
  color: #585855;
}

.background-banner {
  position: absolute;
  background-image: url(logoImages/bannerAzzaImage2.png);
  width: 70%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.image-animation {
  display: flex;
  overflow: hidden;
  z-index: 2;
}

.leftImg {
  transform: translate(-140px, 200px);
  transition: all .4s;
}

.rightImg {
  transform: translate(140px, 200px);
  transition: all .4s;
}

.leftImg,
.rightImg {
  width: 60%;
}

.cookImg {
  width: 70% !important;
}

.leftCookImg,
.rightCookImg {
  width: 60%;
}

.product-box:hover .leftMilkImg {
  transform: translate(-43px, 200px);
}

.product-box:hover .rightMilkImg {
  transform: translate(43px, 200px);
}

.product-box:hover .leftCookImg {
  transform: translate(-23px, 200px);
}

.product-box:hover .rightCookImg {
  transform: translate(23px, 200px);
}

.product-box:hover .leftWineImg {
  transform: translate(-63px, 200px);
}

.product-box:hover .rightWineImg {
  transform: translate(63px, 200px);
}

/* Gallery Part */

section#galleryAzza {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.gallery-boxes {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  margin: 30px 0;
}

.gallery-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#galleryAzza h3 {
  color: #4B2613;
}

#galleryAzza p {
  color: #585757;
}

.brownLinks {
  color: var(--brown-color);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  transition: all .4s;
  display: flex;
  align-items: center;
  gap: 12px;
}

.brownLinks:hover {
  color: #696969;
}

.gallery-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .4s;
  overflow: hidden;
}

.gallery-box img:hover {
  transform: scale(1.2);
}

.straight-line {
  width: 30px;
  border-bottom: 2px solid #4B2613;
  height: 1px;
}

/* News From Azza */

section#newsFromAzza {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px 40px 40px !important;
  width: 100%;
  gap: 1rem;

}

.newsProductBoxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2);
  flex-wrap: wrap;
  margin: 30px 0;
  gap: 1.5rem;
}

.newsProductBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  width: 100%;
  padding: 10px 0;
}

.newsProductBox a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: wrap;
  padding: 20px 10px;
  width: 110px;
  height: 100px;
  background-color: rgba(244, 234, 185, .95);
  z-index: 20;
  color: var(--brown-color);
  font-size: 12px;
  font-weight: 600;
  transition: all .4s;
  letter-spacing: 2px;
}

.newsProductBox:hover a {
  opacity: 1;
}

.newsProductBox a:hover {
  color: #666666;
}

.newsProductBox .img-part {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.newsProductBox img {
  width: 100%;
  height: 100%;
  transition: all .4s;
  object-fit: cover;
}

.newsProductBox img:hover {
  transform: scale(1.1);
}

.newsProductBox .commonName {
  font-size: 12px;
  font-weight: 700;
  color: #4E4E4E;
}

.newsProductBox .commonNameDetails {
  font-size: 16px;
  font-weight: 700;
  color: var(--brown-color);
}

@media (max-width: 800px) {
  .center-part {
    padding: 20px;
    backdrop-filter: blur(30px);
    width: 50%;
    gap: 1.5rem;
  }

  .center-part img {
    width: 40%;
  }

  .center-part p {
    width: 70%;
    font-size: 16px;
  }

  section#newsFromAzza {
    padding: 0 10px !important;
  }

  .newsProductBoxes {
    grid-template-columns: repeat(2, 1fr);
  }

  section#newsFromAzza .brownLinks {
    font-size: 11px;
  }

  .newsProductBox .commonName {
    font-size: 11px;
  }

  .newsProductBox .commonNameDetails {
    font-size: 15px;
  }

  section#map {
    margin-top: 50px;
  }

  .searchAzzaStoresBox {
    width: 100%;
    padding: 35px 15px;

  }

  .searchAzzaStoresBox h3 {
    font-size: 17px;
  }

  .searchAzzaStoresBox .inputPart input {
    width: 100%;
    height: 40px;
  }

  .searchAzzaStoresBox .locationSelect button {
    height: 40px !important;
    width: 40px !important;
  }

  .searchAzzaStoresBox .districtsOfBaku h2 {
    font-size: 13px;
  }

  .searchAzzaStoresBox .districtsOfBaku a {
    font-size: 12px;
  }

  .newsProductBox .img-part img {
    height: 95%;
  }

  .newsProductBox {
    height: 100%;
  }
}