* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
}

.navbar-box {
  padding: 1rem;
}

.navbar-part {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}

.navbar-left .language-selection span {
  cursor: pointer;
  outline: 1px solid #fff;
  padding: 4px;
  align-items: center;
  display: flex;
  font-weight: 400;
  transition: all .4s;
  color: #fff;
  font-size: 15px;
}

.navbar-left .language-selection span:hover {
  background-color: #F6D119;
  color: #000;
  outline: none;
}

.interier-view {
  background: url(logoImages/AzzaHomePageImage.jpg) center/cover no-repeat;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
}

.interier-layer {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, rgb(102, 0, 0, 0.5) 0%, rgba(153, 52, 0, 0) 100%);
  z-index: 1;
}

.navbar-box,
.center-interier-azza,
.map-crossing {
  position: relative;
  z-index: 2;
}

span i:not(.fa-circle) {
  cursor: pointer;
}

.fa-solid.fa-bars {
  color: #fff;
  font-size: 25px;
}

.navbar-right .phone-number {
  background-color: #fff;
  padding: 6px 8px;
}

.navbar-right .phone-number i {
  color: #AB8A6D;
}

.navbar-left {
  gap: 2rem;
}

.contact-icons span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-icons span a {
  text-decoration: none;
}

.contact-icons span i {
  color: #654C37;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
}

.center-interier-azza {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

.center-part {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateY(-40px);
  align-items: center;
  justify-content: space-between;
}

.center-part img {
  width: 10%;
}

.center-part p {
  width: 50%;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  white-space: wrap;
  font-size: 1.2rem;
}

.center-part p:nth-child(3) {
  font-family: "Alex Brush", cursive !important;
  font-weight: 600;
  font-size: 1.4rem;
}

span .fa-arrow-down {
  width: 30px;
  height: 30px;
  background-color: #F6D119;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-crossing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-circle {
  color: red;
}

section#map {
  width: 100%;
}

.map-wrapper {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

section * {
  font-family: "Montserrat", sans-serif;
}

section#products-box {
  padding: 20px 30px;
  margin-top: 40px;
}

.three-items-boxs {
  display: flex;
  justify-content: center;
  background-color: #F6F4F4;
}

.product-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  transition: all .4s;
  gap: 2rem;
  padding: 20px 0;
  overflow: hidden;
}

.product-box:hover {
  background-color: #F4EAB9;
}

.product-box span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-box p {
  font-weight: 600;
  color: #624231;
  margin-top: 20px;
}

.product-box .mainImg {
  width: 40%;
  height: 80%;
}

.product-box h3 {
  color: #4B2613;
}

.product-box a {
  color: #4B2613;
  font-weight: 600;
  transition: all .4s;
}

.product-box a:hover {
  color: #585855;
}

.background-banner {
  position: absolute;
  background-image: url(logoImages/bannerAzzaImage2.png);
  width: 70%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.image-animation {
  display: flex;
  overflow: hidden;
  z-index: 2;
}

.leftImg {
  transform: translate(-140px, 200px);
  transition: all .4s;
}

.rightImg {
  transform: translate(140px, 200px);
  transition: all .4s;
}

.leftImg,
.rightImg {
  width: 60%;
}

.cookImg {
  width: 70% !important;
}

.leftCookImg,
.rightCookImg {
  width: 60%;
}

.product-box:hover .leftMilkImg {
  transform: translate(-43px, 200px);
}

.product-box:hover .rightMilkImg {
  transform: translate(43px, 200px);
}

.product-box:hover .leftCookImg {
  transform: translate(-23px, 200px);
}

.product-box:hover .rightCookImg {
  transform: translate(23px, 200px);
}

.product-box:hover .leftWineImg {
  transform: translate(-63px, 200px);
}

.product-box:hover .rightWineImg {
  transform: translate(63px, 200px);
}

/* Gallery Part */

section#galleryAzza {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.gallery-boxes {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  margin: 30px 0;
}

.gallery-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#galleryAzza h3 {
  color: #4B2613;
}

#galleryAzza p {
  color: #585757;
}

.brownLinks {
  color: rgb(78, 46, 21);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  transition: all .4s;
  display: flex;
  align-items: center;
  gap: 12px;
}

.brownLinks:hover {
  color: #696969;
}

.gallery-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .4s;
  overflow: hidden;
}

.gallery-box img:hover {
  transform: scale(1.2);
}

.straight-line {
  width: 30px;
  border-bottom: 2px solid #4B2613;
  height: 1px;
}

/* News From Azza */

section#newsFromAzza {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px !important;
  width: 100%;
  gap: 1rem;
}

.newsProductBoxes {
  display: grid;
  grid-template-columns: repeat(4, 354px);
  grid-template-rows: repeat(2, 370px);
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 30px 0;
}

.newsProductBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  width: 100%;
  height: 100%;
}

.newsProductBox .img-part {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.newsProductBox img {
  width: 100%;
  height: 100%;
  transition: all .4s;
}

.newsProductBox img:hover {
  transform: scale(1.2);
}

.newsProductBox .commonName {
  font-size: 12px;
  font-weight: 600;
  color: #4E4E4E;
}

.newsProductBox .commonNameDetails {
  font-size: 16px;
  font-weight: 700;
  color: #4B2613;
}

section#footer {
  padding: 50px 100px 0px 100px;
  margin-top: 40px;
  background: url(logoImages/footerBannerAzzaImage.png);
  background-color: #4B2613;

}

section#footer .upper-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section#footer .upper-part span {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}

.footer-part {
  display: flex;
  gap:12rem;
  padding: 40px 0;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rightFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  position: relative;
  top: 0px;
  right: 0px;
}

.rightFooter span {
  font-size: 25px;
  color: #F6D119;
  font-weight: 600;
}

.rightFooter img {
  width: 10%;
}

.down-part {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.down-part .down {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.down-part h3,
.down-part p {
  color: #fff;
  font-size: 15px;
}

.down-part a {
  text-decoration: underline !important;
  color: #fff;
}

.copyright-part {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 20px 0;
}

.copyright-part span {
  font-size: 13px;
}