:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons:#302215;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hamburgerSidebar .icon-path{
  fill: var(--brown-color) !important;
}

.hamburgerSidebar svg:hover .icon-path{
  fill: var(--light-yellow) !important;

}

/* 
<div class="hamburgerSidebar">
      <div class="upper-part">
        <i class="fa-solid fa-xmark"></i>
        <a href="index.html">
          <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="icon-path" style="cursor: pointer;" fill-rule="evenodd" clip-rule="evenodd"
              d="M0 0H8.52034C7.36735 0 6.27299 0.214842 5.2568 0.605467C4.24061 1.05469 3.32213 1.66015 2.54044 2.42187C1.75875 3.20312 1.15295 4.10156 0.703479 5.11719C0.25401 6.15234 0.039047 7.24609 0.039047 8.4375C0.039047 9.60937 0.25401 10.7031 0.703479 11.7383C1.15295 12.7734 1.75875 13.6914 2.54044 14.4726C3.32213 15.2539 4.22106 15.8594 5.2568 16.3086C6.29253 16.7578 7.40644 16.9727 8.55943 16.9727H11.2172V13.6133H8.55943C7.85591 13.6133 7.17193 13.4961 6.54658 13.2227C5.92123 12.9687 5.37405 12.5976 4.90504 12.1289C4.43603 11.6601 4.08427 11.1133 3.81068 10.4883C3.55663 9.84375 3.41984 9.17969 3.41984 8.47656C3.41984 7.77344 3.53709 7.10937 3.81068 6.48437C4.06473 5.8789 4.43603 5.33203 4.90504 4.86328C5.37405 4.39453 5.92123 4.04297 6.54658 3.76953C7.19147 3.51562 7.85591 3.37891 8.55943 3.37891C9.26295 3.37891 9.92737 3.49609 10.5527 3.76953C11.1585 4.02344 11.7057 4.39453 12.1747 4.86328C12.6437 5.33203 12.9955 5.85937 13.2691 6.48437C13.5231 7.10937 13.6599 7.77344 13.6599 8.47656V17.0117H17.0212V8.49609C17.0212 7.30468 16.8062 6.1914 16.3567 5.17578C16.0696 4.51452 15.7187 3.90905 15.304 3.35937H28.3556C28.1877 3.59011 27.9917 3.84338 27.7735 4.12523C27.5854 4.36812 27.3806 4.63268 27.1636 4.92187C26.675 5.54687 26.1669 6.21094 25.6393 6.93359C25.4046 7.23516 25.1699 7.5475 24.9306 7.866C24.6121 8.28995 24.285 8.7253 23.9391 9.16016C23.3333 9.92187 22.7666 10.6836 22.1999 11.4453C20.871 13.2227 19.4835 15.0586 18.0178 16.9727H35V13.6133H24.7208C24.8886 13.3826 25.0846 13.1295 25.3027 12.8478L25.303 12.8474L25.303 12.8474C25.4911 12.6045 25.6958 12.3401 25.9129 12.0508C26.0439 11.8761 26.1781 11.6984 26.3148 11.5172L26.3159 11.5158C26.6681 11.0491 27.0378 10.5592 27.4176 10.0391C27.7064 9.668 27.9952 9.28062 28.2897 8.88554C28.5532 8.53197 28.8214 8.17223 29.0982 7.81249C29.6844 7.05089 30.2511 6.28928 30.8177 5.52768L30.8178 5.52752C32.1271 3.75018 33.5148 1.91406 35 0V25.6216C34.9195 24.7524 34.7138 23.9304 34.3747 23.1641C33.9252 22.1289 33.3194 21.2305 32.5573 20.4688C31.7756 19.707 30.8767 19.1016 29.8605 18.6523C28.8247 18.2031 27.7304 17.9883 26.5383 17.9883C25.3658 17.9883 24.2714 18.2227 23.2748 18.6523C22.2586 19.1016 21.3401 19.707 20.5584 20.4688C19.7767 21.25 19.1709 22.1484 18.7214 23.1641C18.272 24.1992 18.057 25.293 18.057 26.4844C18.057 27.6562 18.272 28.75 18.7214 29.7852C19.0085 30.4339 19.3594 31.0427 19.7791 31.6016H6.72249C6.89039 31.3708 7.0865 31.1175 7.30469 30.8357C7.49283 30.5927 7.69741 30.3284 7.91456 30.0391C8.04582 29.8641 8.18049 29.6857 8.31745 29.5042C8.66975 29.0375 9.03946 28.5476 9.41931 28.0273C9.70808 27.6563 9.99687 27.2689 10.2914 26.8738C10.5549 26.5202 10.8231 26.1605 11.0999 25.8008C11.6862 25.0391 12.253 24.2773 12.8196 23.5156C14.129 21.7383 15.5165 19.9023 17.0017 17.9883H0.0195321V21.3477H10.3378C10.1699 21.5784 9.97381 21.8317 9.75562 22.1135C9.56747 22.3565 9.36288 22.6208 9.14572 22.9102C9.01431 23.0853 8.87984 23.2635 8.74272 23.4451C8.39046 23.9119 8.02078 24.4017 7.64097 24.9219C7.40632 25.2234 7.17162 25.5358 6.93233 25.8542C6.61367 26.2784 6.2868 26.7134 5.9408 27.1484C5.33504 27.9101 4.76829 28.6719 4.20161 29.4335L4.20155 29.4336C3.90289 29.833 3.60127 30.2374 3.29646 30.6461L3.29643 30.6461L3.29581 30.647C2.24462 32.0563 1.15556 33.5164 0.0195409 35H0V0ZM29.2351 35H31.6779V26.5039C31.6779 25.8008 31.5411 25.1367 31.287 24.5117C31.0134 23.8867 30.6617 23.3594 30.1927 22.8906C29.7237 22.4219 29.1765 22.0508 28.5707 21.7969C27.9453 21.5234 27.2809 21.4063 26.5774 21.4063C25.8739 21.4063 25.2094 21.543 24.5645 21.7969C23.9392 22.0703 23.392 22.4219 22.923 22.8906C22.454 23.3594 22.0827 23.9062 21.8286 24.5117C21.555 25.1367 21.4378 25.8008 21.4378 26.5039C21.4378 27.207 21.5746 27.8711 21.8286 28.5156C22.1022 29.1406 22.454 29.6875 22.923 30.1563C23.392 30.625 23.9392 30.9961 24.5645 31.25C24.9851 31.4339 25.4323 31.5471 25.894 31.6016H29.1764V31.6406H29.2351V35Z"
              fill="#4B2613"></path>
          </svg>
        </a>
      </div>
      <div class="sections-part">
        <a href="">ABOUT US</a>
        <a href="">PRODUCTS</a>
        <a href="">PRODUCTION</a>
        <a href="">FERMAZZA</a>
        <a href="">OUR STORES</a>
        <a href="">CAREERS</a>
        <a href="">CORPORATE SALES</a>
        <a href="">CERTIFICATES</a>
      </div>
    </div>
*/

.hamburgerSidebar{
  transform: translateX(-300px);
  position: fixed;
  max-width: 320px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--navbar-background);
  transition: all .4s;
}

.hamburgerSidebar.opening{
  transform: translateX(0);
  transition: all .4s;
}

.hamburgerSidebar.closing{
  transform: translateX(-300px);
  transition: all .4s;
}

.hamburgerBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px 40px;

}

.hamburgerBox .upper-part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.hamburgerBox .upper-part i{
 cursor: pointer;
 color: var(--brown-color);
 font-size: 30px;
}

.hamburgerBox .sections-part{
display: flex;
flex-direction: column;
gap: 1.5rem;
}

.hamburgerBox .sections-part a{
color: var(--brown-color);
font-weight: 700;
font-size: 16px;
}

.navbar-box {
  padding: 1rem;
}

.navbar-part {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}

.navbar-left .language-selection span {
  cursor: pointer;
  outline: 1px solid #fff;
  padding: 4px;
  align-items: center;
  display: flex;
  font-weight: 400;
  transition: all .4s;
  color: #fff;
  font-size: 15px;
}

.navbar-left .language-selection span:hover {
  background-color: var(--light-yellow);
  color: #000;
  outline: none;
}

.interier-view {
  background: url(logoImages/AzzaHomePageImage.jpg) center/cover no-repeat;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
}

.interier-layer {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, rgb(102, 0, 0, 0.5) 0%, rgba(153, 52, 0, 0) 100%);
  z-index: 1;
}

.navbar-box,
.center-interier-azza,
.map-crossing {
  position: relative;
  z-index: 2;
}

span i:not(.fa-circle) {
  cursor: pointer;
}

.fa-solid.fa-bars {
  color: #fff;
  font-size: 25px;
}

.navbar-right .phone-number {
  background-color: #fff;
  padding: 6px 8px;
}

.navbar-right .phone-number i {
  color: var(--link-icons);
}

.navbar-left {
  gap: 2rem;
}

.contact-icons span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-icons span a {
  text-decoration: none;
}

.contact-icons span i {
  color: var(--link-icons);
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
}

.center-interier-azza {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

.center-part {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateY(-40px);
  align-items: center;
  justify-content: space-between;
}

.center-part img {
  width: 10%;
}

.center-part p {
  width: 50%;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  white-space: wrap;
  font-size: 1.2rem;
}

.center-part p:nth-child(3) {
  font-family: "Alex Brush", cursive !important;
  font-weight: 600;
  font-size: 1.4rem;
}

span .fa-arrow-down {
  width: 30px;
  height: 30px;
  background-color:var(--light-yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-crossing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-circle {
  color: red;
}

section#map {
  width: 100%;
}

.map-wrapper {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

section * {
  font-family: "Montserrat", sans-serif;
}

section#products-box {
  padding: 20px 30px;
  margin-top: 40px;
}

.three-items-boxs {
  display: flex;
  justify-content: center;
  background-color: #F6F4F4;
}

.product-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  transition: all .4s;
  gap: 2rem;
  padding: 20px 0;
  overflow: hidden;
}

.product-box:hover {
  background-color: #F4EAB9;
}

.product-box span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-box p {
  font-weight: 600;
  color: #624231;
  margin-top: 20px;
}

.product-box .mainImg {
  width: 40%;
  height: 80%;
}

.product-box h3 {
  color: #4B2613;
}

.product-box a {
  color: #4B2613;
  font-weight: 600;
  transition: all .4s;
}

.product-box a:hover {
  color: #585855;
}

.background-banner {
  position: absolute;
  background-image: url(logoImages/bannerAzzaImage2.png);
  width: 70%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.image-animation {
  display: flex;
  overflow: hidden;
  z-index: 2;
}

.leftImg {
  transform: translate(-140px, 200px);
  transition: all .4s;
}

.rightImg {
  transform: translate(140px, 200px);
  transition: all .4s;
}

.leftImg,
.rightImg {
  width: 60%;
}

.cookImg {
  width: 70% !important;
}

.leftCookImg,
.rightCookImg {
  width: 60%;
}

.product-box:hover .leftMilkImg {
  transform: translate(-43px, 200px);
}

.product-box:hover .rightMilkImg {
  transform: translate(43px, 200px);
}

.product-box:hover .leftCookImg {
  transform: translate(-23px, 200px);
}

.product-box:hover .rightCookImg {
  transform: translate(23px, 200px);
}

.product-box:hover .leftWineImg {
  transform: translate(-63px, 200px);
}

.product-box:hover .rightWineImg {
  transform: translate(63px, 200px);
}

/* Gallery Part */

section#galleryAzza {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.gallery-boxes {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  margin: 30px 0;
}

.gallery-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#galleryAzza h3 {
  color: #4B2613;
}

#galleryAzza p {
  color: #585757;
}

.brownLinks {
  color: var(--brown-color);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  transition: all .4s;
  display: flex;
  align-items: center;
  gap: 12px;
}

.brownLinks:hover {
  color: #696969;
}

.gallery-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .4s;
  overflow: hidden;
}

.gallery-box img:hover {
  transform: scale(1.2);
}

.straight-line {
  width: 30px;
  border-bottom: 2px solid #4B2613;
  height: 1px;
}

/* News From Azza */

section#newsFromAzza {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px !important;
  width: 100%;
  gap: 1rem;
}

.newsProductBoxes {
  display: grid;
  grid-template-columns: repeat(4, 354px);
  grid-template-rows: repeat(2, 370px);
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 30px 0;
}

.newsProductBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  width: 100%;
  height: 100%;
}

.newsProductBox .img-part {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.newsProductBox img {
  width: 100%;
  height: 100%;
  transition: all .4s;
}

.newsProductBox img:hover {
  transform: scale(1.2);
}

.newsProductBox .commonName {
  font-size: 12px;
  font-weight: 600;
  color: #4E4E4E;
}

.newsProductBox .commonNameDetails {
  font-size: 16px;
  font-weight: 700;
  color: var(--brown-color);
}

section#footer {
  padding: 50px 100px 0px 100px;
  margin-top: 40px;
  background: url(logoImages/footerBannerAzzaImage.png);
  background-color: #4B2613;

}

section#footer .upper-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section#footer .upper-part span {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}

.footer-part {
  display: flex;
  gap:12rem;
  padding: 40px 0;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rightFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  position: relative;
  top: 0px;
  right: 0px;
}

.rightFooter span {
  font-size: 25px;
  color: var(--light-yellow);
  font-weight: 600;
}

.rightFooter img {
  width: 10%;
}

.down-part {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.down-part .down {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.down-part h3,
.down-part p {
  color: #fff;
  font-size: 15px;
}

.down-part a {
  text-decoration: underline !important;
  color: #fff;
}

.copyright-part {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 20px 0;
}

.copyright-part span {
  font-size: 13px;
}