:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.productionBannerWord {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 100px;
  position: absolute;
  z-index: 2;
}

.mainCakeImagePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainCakeImagePart .img-part {
  width: 100%;
}

.mainCakeImagePart .img-part img {
  width: 100%;
}

.productionBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.productionBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.productionBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.productionBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerWord {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(logoImages/bannerAzzaImage2.png);
  z-index: 5;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bannerText {
  color: var(--brown-color);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.productionSectionDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.productionSectionDescription span {
  text-align: center;
  line-height: 1.5;
  color: var(--brown-color);
  font-size: 20px;
  font-weight: 500;
}

.productionGrid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0 3rem;
  gap: 1rem;
  margin: 3rem 0;
}

.productionGridBox{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productionGridBox .imgBox{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.productionGridBox img{
  width: 100%;
  height: 100%;
  transition: all .4s;
}

.productionGridBox img:hover{
 transform: scale(1.1);
}

.productionGridBox .linkProduction{
  position: absolute;
  background-color: rgb(255,255,255,.8);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brown-color);
  font-weight: 700;
  padding: 80px;
  transition: all .4s;
}

.productionGridBox .linkProduction:hover{
  background-color: #F1E6B2;
}

.cakeLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.cakeLinks a {
  font-size: 12px;
  color: var(--brown-color);
  font-weight: 700;
  transition: all .4s;
}

.cakeLinks a:hover {
  color: var(--light-yellow);
}