:root {
  --yellow-color: #F7941D;
  --light-yellow: #F6D119;
  --border-yellow: #F9AF19;
  --navbar-background: #F7F7F7;
  --brown-color: #4B2613;
  --link-icons: #302215;
}

.productionBannerWord {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 100px;
  position: absolute;
  z-index: 2;
}

.mainCakeImagePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainCakeImagePart .img-part {
  width: 100%;
}

.mainCakeImagePart .img-part img {
  width: 100%;
}

.productionBannerWord p {
  color: var(--brown-color);
  font-size: 35px;
  font-weight: 700;
}

.productionBannerWord .linesymboldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.productionBannerWord .linesymboldiv hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.productionBannerWord .linesymboldiv .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerWord {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(logoImages/bannerAzzaImage2.png);
  z-index: 5;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bannerText {
  color: var(--brown-color);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.productionSectionDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.productionSectionDescription p {
  text-align: center;
  line-height: 1.5;
  color: var(--brown-color);
  font-size: 20px;
  font-weight: 500;
}

.productionGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 3rem;
  gap: 1rem;
  margin: 3rem 0;
}

.productionGridBox {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productionGridBox .imgBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.productionGridBox img {
  width: 100%;
  height: 100%;
  transition: all .4s;
  object-fit: cover;
}

.productionGridBox img:hover {
  transform: scale(1.1);
}

.productionGridBox .linkProduction {
  position: absolute;
  background-color: rgb(255, 255, 255, .8);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brown-color);
  font-weight: 700;
  padding: 80px;
  transition: all .4s;
}

.productionGridBox .linkProduction:hover {
  background-color: #F1E6B2;
}

.qualityDescriptionBoxes {
  display: flex;
  gap: .6rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 5rem;
}

.qualityDescriptionBoxes .qualityDescriptionBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.qualityDescriptionBoxes .qualityDescriptionBox h3 {
  font-size: 19px;
  color: var(--brown-color);
  font-weight: 700;
}

.qualityDescriptionBoxes .qualityDescriptionBox p {
  font-size: 15px;
  color: rgb(118, 116, 116);
  width: 80%;
}

.qualityDescriptionBox .lineCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.qualityDescriptionBox .lineCircle hr {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid var(--brown-color);
}


.qualityDescriptionBox .lineCircle .circle {
  width: 7px;
  height: 7px;
  background-color: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerDescription {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F4F4;
  margin: 3rem 0;
}

.bannerDescription .bannerDescriptionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  padding: 30px;
  margin: 4rem 0;
  width: 90%;
}

.bannerDescription .bannerDescriptionBox .bannerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 400px;
}

.bannerDescriptionBox .bannerImg img {
  width: 100%;
}

.bannerDescription .bannerDescriptionBox h2 {
  color: var(--brown-color);
  font-size: 28px;
  font-weight: 700;
  z-index: 15;
}

.bannerDescription .bannerDescriptionBox p {
  font-size: 18px;
  z-index: 15;
  color: #4F4D4C;
  top: 65%;
}

.bannerDescription .bannerDescriptionBox h2,
.bannerDescription .bannerDescriptionBox p {
  position: absolute;
}

.azzaTourProduction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.azzaTourProduction .tourBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.azzaTourProduction .tourBox h3 {
  color: var(--brown-color);
  font-size: 25px;
}

.azzaTourProduction .tourBox .imgContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .4rem;
  padding: 0 3rem;
}

.azzaTourProduction .tourBox .imgContent .tourImgContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.azzaTourProduction .tourBox .imgContent .tourImgContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all .4s;
  overflow: hidden;
}

.azzaTourProduction .tourBox .imgContent .tourImgContent img:hover {
  transform: scale(1.1);
}

.tourBox a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tourBox a span {
  font-size: 12px;
  color: var(--brown-color);
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 8px;
  transition: all .4s;
}

.tourBox a span:hover {
  color: #4F4F4F;
}

.tourBox a hr {
  width: 40px;
  border-bottom: 1px solid var(--brown-color);
}

@media(max-width :768px) {
  .productionGrid {
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: .6rem;
  }

  .productionGridBox .linkProduction {
    width: 37%;
    height: 100px;
    padding: 10px;
    font-size: 21px;
  }

  .qualityDescriptionBoxes {
    flex-direction: column;
    gap: 3rem !important;
  }

  .qualityDescriptionBoxes .qualityDescriptionBox {
    gap: 1rem;
  }

  .bannerDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F4F4;
  }

  .bannerDescription .bannerDescriptionBox {
    gap: 1rem;
    padding: 20px !important;
    margin: 0 !important;
  }

  .bannerDescription .bannerDescriptionBox .bannerImg {
    width: 350px;
    height: 350px;
  }

  .bannerDescription .bannerDescriptionBox h2 {
    font-size: 21px;
  }

  .bannerDescription .bannerDescriptionBox p {
    font-size: 17px;
  }
  .tourBox h3{
    font-size: 21px !important;
  }
  .tourBox a span{
    font-size: 11px !important;
    letter-spacing: 3px;
  }
}